<div class="col mt-3">
    <h1>Dolar</h1>
    <hr>
    
    <div class="row">
        <div class="col">
            <h3>Tu Saldo</h3>
            <hr>
            <p>ARS$ - {{balanceArs}}</p>
        </div>
        <div class="col">
            <h3>Precio Dolar</h3>
            <hr>
            <p>ARS$ - {{dolarPrice}}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <h4>Introducí la cantidad a comprar</h4>
        <form>
            <input type="text" placeholder="cantidad">
            <button>Comprar</button>
        </form>
        <div class="col">
            <h3>Luego de tu compra</h3>
            <p>U$D - {{balanceUsd}}</p>
        </div>
        
    </div>
</div>
