<h2>Crea tu cuenta</h2>
<hr>

<div class="row">
    <div class="col">

        <form [formGroup]="form" (ngSubmit)="save()">
            
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre"
                           formControlName="name"
                           >

                    <span class="form-text text-danger"
                        *ngIf="validField('name')">
                        Este campo no puede estar vacio
                    </span>
                </div>
            </div>


            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Alias</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Alias"
                           formControlName="alias">
                    <span class="form-text text-danger"
                    *ngIf="validField('alias')">
                           Este campo no puede estar vacio
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label">Dni</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Dni"
                           formControlName="dni">
                    <span class="form-text text-danger"
                    *ngIf="validField('dni')">
                           Este campo no puede estar vacio
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end"
                            [disabled]="form.invalid">
                        Guardar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>





