<div class="dashboard">
    <h5>Ingresar Pesos</h5>
    <p>Para ingresar dinero a tu cuenta debes realizar una transferencia al siguiente CBU desde una cuenta asociada a:</p>
    <div>
        <h5>Razon social</h5>
        <p>BTCSAP SRL</p>
    </div>
    <div>
        <h5>CBU</h5>
        <p>XXXXXXXXXXXX-XXXXXXX</p>
    </div>
    <form [formGroup]='form' 
          autocomplete="off"
          (ngSubmit)="onSubmit()">
        <input formControlName="amount">
        <div class="form-group text-center mt-5">
            <div class="col-xs-12">
                <button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Depositar</button>
            </div>
        </div>
     </form>
</div>
